.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}

table, td, tr {
    border: solid 1px;
}

table {
    width: 100%;
}

.par{
    background-color: #dadada;
}